* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}

.homepage {
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.some-content p {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: gray;
}

footer {
  background-color: #F5F5FA;
}

@media (min-width: 768px) {
  .homepage {
    gap: 60px;
  }
}
.title-bloc {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.title-bloc .title-link {
  display: flex;
  align-items: center;
  width: fit-content;
  column-gap: 2px;
  text-decoration: none;
  font-size: 14px;
  color: #24A3FF;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.title-bloc .title-link::after {
  content: "";
  margin: 0;
  background: url(../images/Arrow-right.svg);
  background-position: center;
  width: 12px;
  height: 12px;
}
.title-bloc .title-link:hover {
  color: #F0145A;
}
.title-bloc .title-link:hover::after {
  background: url(../images/Arrow2.svg);
}
.title-bloc .title-text {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services {
  position: relative;
  padding-bottom: 60px;
}
.services::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -10px;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}
.services::before {
  content: "";
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: -20px;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #E7E7F2;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.wrapper .services-bloc {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.services-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.service-item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  text-decoration: none;
}
.service-item-image {
  width: fit-content;
  padding: 14px;
  font-size: 0;
  display: inline-block;
  border-radius: 24px;
  background: var(--basic-white, #FFF);
  position: relative;
}
.service-item-image img {
  width: 64px;
  height: 64px;
}
.service-item-text {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.service-item-text .service-item-title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #24A3FF;
}
.service-item-text .service-item-description {
  margin: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .wrapper .services-bloc {
    row-gap: 60px;
  }
  .services-menu {
    row-gap: 60px;
    column-gap: 60px;
  }
  .services-menu .service-item {
    width: calc(50% - 30px);
  }
  .title-bloc .title-text {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .services-menu .service-item {
    width: calc(33.33% - 40px);
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding: 0;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.wrapper-partners {
  margin: 0;
}

.partners-bloc {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.partners-bloc h3 {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.partners-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0;
}
.partners-menu a {
  display: inline-block;
  height: 120px;
  width: 100%;
  position: relative;
}
.partners-menu a:nth-child(n+7) {
  display: none;
}
.partners-menu .p-hillel {
  background: #1C4280;
}
.partners-menu .p-hillel img {
  width: 217px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-wanna-biz {
  background: #143646;
}
.partners-menu .p-wanna-biz img {
  width: 199px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-tapgerine {
  background: linear-gradient(0deg, #F48B30 0%, #F48B30 100%), #F48B30;
}
.partners-menu .p-tapgerine img {
  width: 179px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-3dlook {
  background: #9E4DC3;
}
.partners-menu .p-3dlook img {
  width: 180px;
  height: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-orangear {
  background: #FD9339;
}
.partners-menu .p-orangear img {
  width: 174px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-adtelligent {
  background: #E2E2E4;
}
.partners-menu .p-adtelligent img {
  width: 194.792px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-clickky {
  background: #C71C36;
}
.partners-menu .p-clickky img {
  width: 138px;
  height: 61px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-ecoleasing {
  background: #DCF3F9;
}
.partners-menu .p-ecoleasing img {
  width: 146px;
  height: 76px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-infratek {
  background: #EAEAEA;
}
.partners-menu .p-infratek img {
  width: 182px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-citypark {
  background: #282240;
}
.partners-menu .p-citypark img {
  width: 181px;
  height: 38px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-artPrintStudio {
  background: #1D4568;
}
.partners-menu .p-artPrintStudio img {
  width: 189px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partners-menu .p-ultimateCard {
  background: #000;
}
.partners-menu .p-ultimateCard img {
  width: 152px;
  height: 95px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .partners-menu {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .partners-menu a {
    width: 33.33%;
  }
  .partners-menu a:nth-child(n+7) {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .partners-menu a {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .partners .wrapper-partners {
    padding: 0;
    padding-bottom: 60px;
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
  }
  .partners .wrapper-partners .partners-menu {
    border-radius: 12px;
    overflow: hidden;
  }
}
.team {
  padding-top: 50px;
  padding-bottom: 60px;
}
.team .slide-team {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.team-member {
  background: #F5F5FA;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.team-member .photo-container {
  font-size: 0;
}
.team-member .photo-container img {
  width: 100%;
  object-fit: cover;
  background-color: #EDEDF7;
  height: 500px;
}
.team-member .slide-description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.team-member .team-member-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.team-member .team-member-text .member-name {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.team-member .team-member-text .member-position {
  color: #B3B3BA;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.slide-menu {
  display: flex;
  gap: 15px;
}
.slide-menu button {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border: none;
  border-radius: 50px;
  opacity: 0.2;
}
.slide-menu .active-ellipsis {
  opacity: 1;
}

@media (min-width: 768px) {
  .team {
    padding-top: 80px;
  }
  .team .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .team .wrapper .title-text {
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .team-member {
    flex-direction: row;
  }
  .team-member .photo-container img {
    width: 400px;
    height: 100%;
  }
}
@media (min-width: 1920px) {
  .team .wrapper {
    padding: 0;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.publications {
  background-color: #F5F5FA;
}
.publications .publications-bloc {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.publications .publications-bloc .publications-menu {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.publication-card {
  background-color: #FFF;
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}
.publication-card .container-pub-img {
  font-size: 0;
  overflow: hidden;
}
.publication-card .container-pub-img img {
  width: 100%;
  object-fit: cover;
  background-color: #EDEDF7;
  height: 200px;
}

.card-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-content .title-pub-card {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.card-content .time-pub-card {
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card-content hr {
  background-color: #E6E6F0;
  height: 4px;
  margin: 0;
  border: none;
}
.card-content .text-pub-card {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media (min-width: 768px) {
  .publications .publications-bloc .publications-menu {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .publications .publications-bloc .publications-menu .publication-card:last-child {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .publications .publications-bloc .publications-menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.experience-menu {
  display: flex;
  overflow-x: auto;
  flex-shrink: 0;
}
.experience-menu .experience-menu-container {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}
.experience-menu .experience-menu-container a {
  text-decoration: none;
  color: #B3B3BA;
  flex-shrink: 0;
  font-size: 30px;
  font-weight: 700;
}
.experience-menu .experience-menu-container a:hover {
  color: #F0145A;
}
.experience-menu .experience-menu-container .experience-active {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-bloc {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.experience-bloc .separated-line {
  height: 4px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  flex-shrink: 0;
  display: inline-block;
}

.experience-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.experience-text .experience-title {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}
.experience-text .experience-description p {
  margin: 0;
  color: #FFF;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: 768px) {
  .experience-menu .experience-menu-container a {
    font-size: 38px;
  }
  .experience-bloc {
    gap: 60px;
  }
  .experience-bloc .experience-title {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .experience-bloc {
    flex-direction: row;
    align-items: center;
  }
  .experience-bloc .experience-menu {
    overflow-x: visible;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .experience-bloc .experience-menu .experience-menu-container {
    flex-direction: column;
    padding: 0;
    align-items: flex-end;
  }
  .experience-bloc .separated-line {
    width: 4px;
    height: 303px;
  }
}
@media (min-width: 1920px) {
  .experience .wrapper {
    width: 1360px;
  }
}
.header {
  position: relative;
}
@media (min-width: 1920px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    width: 1920px;
  }
}
.header .head-mobile {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.header .head-desktop {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  z-index: 2;
  width: 100%;
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 0;
  padding-left: 60px;
}
.header .head-desktop a.logo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.header .head-desktop .desktop-contacts-languages a.contacts {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
}
.header .head-desktop .desktop-contacts-languages a.facebook {
  width: 24px;
  height: 24px;
}
.header .head-desktop .desktop-contacts-languages a.facebook:hover svg path {
  fill: #F0145A;
}
.header .head-desktop nav {
  display: flex;
  gap: 15px;
}
.header .head-desktop nav a {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  position: relative;
}
.header .head-desktop nav a::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #FFF;
  transform: scaleX(0);
  margin-top: 5px;
}
.header .head-desktop nav a:hover::after {
  transform: scaleX(1);
}
.header .head-desktop nav a.current-page-desktop {
  color: #F0145A;
}
.header .head-desktop nav a.current-page-desktop::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #F0145A;
  transform: scaleX(1);
  margin-top: 5px;
}
@media (min-width: 768px) {
  .header .head-desktop .header .head-desktop {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .header .head-desktop {
    align-items: flex-end;
    gap: 15px;
  }
  .header .head-desktop a.logo {
    position: absolute;
    left: 60px;
    top: 50px;
  }
}
@media (min-width: 1920px) {
  .header .head-desktop {
    width: 1920px;
    padding-right: 160px;
    padding-left: 160px;
    left: 50%;
    transform: translate(-50%);
  }
  .header .head-desktop a.logo {
    left: 160px;
  }
}

.desktop-contacts-languages {
  display: flex;
  gap: 6px;
  align-items: center;
}
.desktop-contacts-languages address {
  color: #B3B3BA;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}
.desktop-contacts-languages .languages {
  display: flex;
}
.desktop-contacts-languages .languages a {
  text-decoration: none;
  color: #FFF;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
}
.desktop-contacts-languages .languages .active-page {
  background: #F0145A;
}
.desktop-contacts-languages > :not(:last-child):after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #E6E6F0;
  margin-left: 6px;
  align-self: center;
}

.logo-section {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.logo-section img {
  width: 524px;
  height: 600px;
  flex-shrink: 0;
}
.logo-section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 315px;
  color: #FFF;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.logo-section a.scroll {
  position: absolute;
  bottom: 30px;
}
.logo-section a.scroll:hover svg path, .logo-section a.scroll:hover svg circle {
  stroke: #F0145A;
}
@media (min-width: 768px) {
  .logo-section p {
    width: 800px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo-section img {
    width: 893.277px;
    height: 1024px;
    flex-shrink: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
  .logo-section img {
    width: 669.957px;
    height: 768px;
    flex-shrink: 0;
  }
}
@media (min-width: 1920px) {
  .logo-section img {
    width: 872.34px;
    height: 1000px;
    flex-shrink: 0;
  }
}

.contacts-languages {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  background: rgba(245, 245, 250, 0.2);
  text-align: center;
  color: #FFF;
}
.contacts-languages .languages {
  display: flex;
}
.contacts-languages .languages a {
  text-decoration: none;
  color: #FFF;
  padding-top: 5px;
  padding-right: 7px;
  padding-bottom: 5px;
  padding-left: 7px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 8px;
}
.contacts-languages .languages .active-page {
  background: #F0145A;
}
.contacts-languages a.contacts {
  color: #FFF;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  align-self: stretch;
}
.logo-menu .logo-page {
  display: flex;
  gap: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.logo-menu .logo-page a.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.5px;
  width: 70px;
  height: 32px;
}
.logo-menu .logo-page .slash {
  width: 12px;
  height: 26px;
}
.logo-menu .logo-page .page-selected {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
.logo-menu button.menu {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 32px;
  height: 32px;
}
.logo-menu .background-menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(50, 50, 100, 0.7);
  display: none;
}
.logo-menu .background-menu-mobile .menu-mobile {
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  background-color: #FFF;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
}
.logo-menu .background-menu-mobile .menu-mobile .close-section {
  width: 32px;
  height: 32px;
  align-self: flex-end;
}
.logo-menu .background-menu-mobile .menu-mobile nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.logo-menu .background-menu-mobile .menu-mobile nav a {
  color: #24A3FF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 12px;
  background: #F5F5FA;
}
.logo-menu .background-menu-mobile .menu-mobile nav a:active {
  background-color: #E6E6F0;
}
.logo-menu .background-menu-mobile .menu-mobile nav .current-page {
  color: #F0145A;
}

@media (max-width: 767px) {
  .header .head-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .header .head-mobile {
    display: none;
  }
}
.footer-section {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-section .separated-line {
  height: 2px;
  align-self: stretch;
  background: #E6E6F0;
}
.footer-section .footer-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-section .footer-content .content-first-p {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-section .footer-content .content-first-p .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-section .footer-content .content-first-p .address address {
  color: #323264;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-section .footer-content .content-first-p .address a.address-link {
  color: #24A3FF;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-section .footer-content .content-first-p .footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.footer-section .footer-content .content-first-p .footer-contacts .footer-fb:hover svg path {
  fill: #F0145A;
}
.footer-section .footer-content .content-first-p .footer-contacts a.footer-tel {
  color: #46466E;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}
.footer-section .footer-content .content-first-p .footer-contacts a.footer-email {
  color: #24A3FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.footer-section .footer-content .content-first-p .footer-contacts a.footer-email:hover {
  color: #F0145A;
}
.footer-section .footer-content .content-second-p p {
  color: #B3B3BA;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .footer-section .footer-content {
    position: relative;
    flex-direction: row;
  }
  .footer-section .footer-content .content-first-p .address {
    flex-direction: row;
  }
  .footer-section .footer-content .content-first-p .address address, .footer-section .footer-content .content-first-p .address a.address-link {
    display: flex;
  }
  .footer-section .footer-content .content-first-p .address > :not(:last-child)::after {
    content: "";
    display: flex;
    align-self: center;
    margin-left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #B3B3BA;
  }
  .footer-section .footer-content .content-first-p .footer-contacts {
    flex-direction: row;
  }
  .footer-section .footer-content .content-first-p .footer-contacts .footer-fb, .footer-section .footer-content .content-first-p .footer-contacts a.footer-tel, .footer-section .footer-content .content-first-p .footer-contacts a.footer-email {
    display: flex;
  }
  .footer-section .footer-content .content-first-p .footer-contacts > :not(:last-child)::after {
    content: "";
    display: flex;
    align-self: center;
    margin-left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #B3B3BA;
  }
  .footer-section .footer-content .content-second-p {
    position: absolute;
    right: 0;
  }
}

.header .head-mobile, .header .head-desktop {
  position: relative;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .header .head-mobile, .header .head-desktop {
    margin-bottom: 60px;
  }
}

.partners-bloc h3 {
  margin-top: 80px;
}

.services-menu {
  row-gap: 30px;
}
@media (min-width: 768px) {
  .services-menu {
    row-gap: 60px;
  }
}

.service-item {
  align-items: center;
}
.service-item .service-item-text {
  gap: 28px;
}
.service-item .service-item-text .service-item-title {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
}
.service-item .service-item-text .service-item-description {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.service-item .service-item-text button {
  display: flex;
  align-self: center;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  justify-content: center;
  align-items: flex-start;
  border: none;
  border-radius: 12px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
.service-item .service-item-text button p {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.separate-line-gray {
  height: 4px;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.service-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-details p.service-details-title {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-details-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-details-menu .service-details-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.service-details-menu .service-details-group p {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.service-details-menu .service-details-group p::before {
  content: "";
  display: flex;
  flex-shrink: 0;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #F0145A;
  margin-top: 12px;
}

.publications .publications-bloc {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .services-menu .service-item {
    width: 100%;
  }
  .service-details-menu {
    flex-direction: row;
    justify-content: space-between;
  }
  .service-details-menu .service-details-group {
    width: calc(50% - 30px);
  }
}

/*# sourceMappingURL=style-services-it-comerce.css.map */
