@mixin iconService {
    &-image{
        width: fit-content;
        padding: 14px;
        font-size: 0;
        display: inline-block;
        border-radius: 24px;
        background: var(--basic-white, #FFF);
        position: relative;

        img{
            width: 64px;
            height: 64px;
        }
    }
}

@mixin imageCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
