@use 'mixins';
@import 'maps';
@import '../sass/title-bloc';

.services{
    position: relative;
    padding-bottom: 60px;
    

    &::after{
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        background: #CACADB;
    }

    &::before{
        content: '';
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: -20px;
        height: 10px;
        border-radius: 0px 0px 12px 12px;
        background: #E7E7F2;
    }
}

.wrapper{
    padding-left: 30px;
    padding-right: 30px;

    .services-bloc{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
}   

.services-menu{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.service-item{
display: flex;
flex-direction: column;
row-gap: 30px;
width: 100%;
text-decoration: none;

    @include mixins.iconService;

    &-text{
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .service-item-title{
            margin: 0;
            font-size:  map-get($fonts, 'service-item-title');
            font-weight: 700;
            color:  map-get($font-colors, 'service-item-title');
        }

        .service-item-description{
            margin: 0;
            color: map-get($font-colors, 'service-item-description');
            font-size:  map-get($fonts, 'service-item-description');
            font-weight: 400;
            line-height: 26px; 
        }
    }
}

@media (min-width: 768px) {
    .wrapper{
        padding-left: 60px;
        padding-right: 60px;
    
        .services-bloc{
            row-gap: 60px;
        }
    }

    .services-menu{
        row-gap: 60px;
        column-gap: 60px;

        .service-item{
            width: calc(50% - 30px);
        }
    }

    .title-bloc{
        .title-text{
            font-size:  map-get($fonts, 'title-text-grand');
        }
    }
}

@media(min-width: 1024px) {
    .services-menu{
        .service-item{
            width: calc(33.33% - 40px);
        }
    }
}

@media(min-width: 1920px) {
    .wrapper{
        padding: 0;
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }   
}

