@use 'mixins';
@import 'maps';


.publications{
    background-color: #F5F5FA;

    .publications-bloc{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    
        .publications-menu{
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
}


.publication-card{
    background-color: #FFF;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
    display: block;

    .container-pub-img{
        font-size: 0;
        overflow: hidden;

        img{
            width: 100%;
            object-fit: cover;
            background-color: #EDEDF7;
            height: 200px;
        }
    }
}

.card-content{
padding: 30px;
display: flex;
flex-direction: column;
gap: 15px;

    .title-pub-card{
        color: #24A3FF;
        font-size: map-get($fonts, 'title-pub-card');
        font-weight: 700;
        margin: 0;
    }

    .time-pub-card{
        color: #B3B3BA;
        font-size: map-get($fonts, 'time-pub-card');
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    hr{
        background-color: #E6E6F0;
        height: 4px;
        margin: 0;
        border: none;
    }

    .text-pub-card{
        margin: 0;
        color: #000;
        font-size: map-get($fonts, 'text-pub-card');;
        font-weight: 400;
        line-height: 22px;
    }
}

@media(min-width: 768px){
    .publications{
        .publications-bloc{
            .publications-menu{
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .publications{
        .publications-bloc{
            .publications-menu{
                .publication-card:last-child{
                    grid-column: 1 / -1;
                }
            }
        }
    }
}



@media(min-width: 1024px){
    .publications{
        .publications-bloc{
            .publications-menu{
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}