//Title part used in sections "Services", "Publications", "Team"

.title-bloc{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .title-link{
        display: flex;
        align-items: center;
        width: fit-content;
        column-gap: 2px;
        text-decoration: none;
        font-size: map-get($fonts, 'title-link');
        color:  #24A3FF;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;

        &::after{
            content: '';
            margin: 0;
            background: url(../images/Arrow-right.svg);
            background-position: center;
            width: 12px;
            height: 12px;
        }
    }

    .title-text{
        margin: 0;
        font-size:  map-get($fonts, 'title-text');
        font-weight: 700;
        background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}