@use 'mixins';
@use '../sass/maps';
@use '../sass/body';
@use '../sass/section-services';
@use '../sass/section-partners';
@use '../sass/section-team';
@use '../sass/section-publications';
@use '../sass/section-experience';
@use '../sass/section-homepage';
@use '../sass/footer';

.header{
    .head-mobile, .head-desktop{
        position: relative;
        margin-bottom: 30px;

        @media (min-width: 768px) {
            margin-bottom: 60px;
        }
    }
}

.partners-bloc h3{
    margin-top: 80px;
}